@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* { box-sizing: border-box; }

body {
  background: linear-gradient(90deg, rgba(14,35,49,1) 0%, rgba(37,55,71,1) 50%, rgba(14,30,47,1) 100%); 
  font-family: 'Signika', sans-serif; 
}

a { 
  display: inline-block;
  color: unset;
  text-decoration: none; 
}

li { list-style-type: none; }

figure > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

/*for wrapper*/
.wrapper {
  max-width: 1733px;
  width: 90.257%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background: rgb(10, 21, 32); }
header a { margin-left: 1.5%; }

header img {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  display: block;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.upcoming-movies { margin-top: 75px; }

.carousel {
  overflow: hidden;
  white-space: nowrap;
}

.carousel > li {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.carousel > li > * { margin-right: 5%; }
.carousel > li > *:last-child { margin-right: 0; }
.carousel > li img { max-height: 620px; }
.carousel > li > div { flex-basis: 27.5%; }
.carousel > li > figure { flex-basis: 35%; }

.carousel > li span { 
  display: block;
  white-space: normal;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  