@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* { box-sizing: border-box; }

body {
  background: rgba(14,35,49,1);
  font-family: 'Signika', sans-serif;
}

a { 
  display: inline-block;
  color: unset;
  text-decoration: none;
}

li { list-style-type: none; }

figure > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

/*for wrapper*/
.wrapper {
  max-width: 1733px;
  width: 90.257%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background: rgb(10, 21, 32); }
header a { margin-left: 1.5%; }

header img {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  display: block;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.upcoming-movies { margin: 75px auto; }
.upcoming-movies.display-none { display: none; }

.carousel-container {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.carousel-container > .carousel-buttons {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  transform: translate(0, -50%);
}

.carousel-container > .carousel-buttons::before {
  display: inline-block;
  color: #76766f;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 900;
  transition: color 1s ease-in-out;
}

.carousel-container > .carousel-buttons:hover::before { 
  color: #fff;
  cursor: pointer;
}

.carousel-container > .carousel-buttons[title="Previous"] { left: 0; }
.carousel-container > .carousel-buttons[title="Previous"]::before { content: "\f137"; }
.carousel-container > .carousel-buttons[title="Next"] { right: 0; }
.carousel-container > .carousel-buttons[title="Next"]::before { content: "\f138"; }

.carousel {
  overflow: hidden;
  white-space: nowrap;
}

.carousel > li {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.carousel > li > * { margin-right: 3%; }
.carousel > li > *:last-child { margin-right: 0; }

.carousel > li img { 
  max-height: 620px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel > li > div { flex-basis: 25%; }
.carousel > li > figure { flex-basis: 34%; }
.carousel > li > .left-side { margin-left: 5%; }
.carousel > li > .right-side { margin-right: 5%; }

.left-side > span, .right-side > span {
  margin-bottom: 10px;
  display: block;
  color: #fff;
  font-size: 24px;
  white-space: normal;
}

.left-side > span:last-child, .right-side > span:last-child { margin-bottom: 0; }

.left-side > span > small, .right-side > span > small {
  display: block;
  color: #76766f;
  font-size: 20px;
}

.carousel-dots {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
}

.carousel-dots > li { 
  height: 10px;
  margin-right: 10px;
  display: inline-block;
}

.carousel-dots > li:last-child { margin-right: 0; }

.carousel-dots > li > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background: #76766f;
  font-size: 0;
  transition: background 1s ease-in-out;
}

.carousel-dots > li > span:hover { 
  background: #fff;
  cursor: pointer;
}

.carousel-dots > li.selected > span { background: #fff; }

/* Section Most Popular Movies CSS Start */
.most-popular-movies { margin-bottom: 75px; }
.most-popular-movies.display-none { display: none; }

.most-popular-movies > h2 {
  margin-bottom: 35px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.most-popular-movies-content > * { margin-bottom: 25px; }
.most-popular-movies-content > *:last-child { margin-bottom: 0; }

.most-popular-movies-content > p {
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.sort-options { display: flex; }

.sort-options > li > span {
  padding: 10px 15px;
  border-right: 3px solid #fff;
  display: inline-block;
  background: rgba(41, 56, 63, 1);
  color: #76766f;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}

.sort-options > li:first-child > span { border-left: 3px solid #fff; }

.sort-options > li > span:hover {
  background: rgba(41, 56, 63, 0.5);
  color: #fff;
  cursor: pointer;
}

.sort-options > li.selected > span {
  background: rgba(41, 56, 63, 0.5);
  color: #fff;
}

.movies-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 1.25%;
}

.movies-content > li {
  display: flex;
  position: relative;
  flex-basis: 19%;
  flex-direction: column;
}

.movies-content > li:hover { cursor: pointer; }

.movies-content > li > .rank {
  background: rgba(41, 56, 63, 0.7);
  padding: 10px 5px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.movies-content > li > figure { overflow: hidden; }

.movies-content > li img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.movies-content > li:hover img { 
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.movies-content > li > .info {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(41, 56, 63, 1);
  flex-grow: 1;
  transition: background 0.3s ease-in-out;
}

.movies-content > li:hover > .info { background: rgba(41, 56, 63, 0.5); }

.info > span {
  margin-bottom: 5px;
  display: block;
  color: #fff;
  font-size: 16px;
}

.info > span:last-child { margin-bottom: 0; }

.info > span > small {
  color: #76766f;
  font-size: 14px;
}

.pagination { display: flex; }

.pagination > li > span {
  padding: 10px 15px;
  border-right: 3px solid #fff;
  display: inline-block;
  background: rgba(41, 56, 63, 1);
  color: #76766f;
  font-size: 16px;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}

.pagination > li > span:hover {
  background: rgba(41, 56, 63, 0.5);
  color: #fff;
  cursor: pointer;
}

.pagination > li:first-child > span { border-left: 3px solid #fff; }

.pagination > li.selected > span {
  background: rgba(41, 56, 63, 0.5);
  color: #fff;
}
/* Section Most Popular Movies CSS End */
/* Modal CSS Start */
#modal {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

#modal.display-none { display: none; }

#modal > .modal-container {
  max-width: 970px;
  padding: 30px 100px;
  border: 3px solid #76766f;
  border-radius: 15px;
  position: relative;
  z-index: 4;
  top: 50%;
  left: 50%;
  background: rgba(36,50,61,1);
  transform: translate(-50%, -50%);
  text-align: center;
}

#modal .close-button {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0; 
}

#modal .close-button::before {
  content: '\f057';
  color: #76766f;
  font-family: "Font Awesome 5 Free";
  font-size: 22px;
  font-weight: 900;
  transition: color 1s ease-in-out;
}

#modal .close-button:hover::before {
  color: #fff;
  cursor: pointer;
}

.modal-content { margin-bottom: 20px; }

.modal-content > * { 
  display: block;
  text-align: center;
}

.modal-content > span {
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}

.modal-content > span:last-child { margin-bottom: 0; }

.modal-content > span > small {
  color: #76766f;
  font-size: 14px;
}

.modal-content > figure { margin-bottom: 10px; }

.modal-content img {
  max-width: 250px;
  margin: 0 auto;
}

.movie-details-button button {
  padding: 10px 15px;
  border: unset;
  border-radius: 5px;
  display: inline-block;
  background: rgba(14,35,49,1);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}

.movie-details-button button:hover {
  background: #fff;
  color: rgba(14,35,49,1);
}

.opacity-low { opacity: 0.3; }
/* Modal CSS End */

/* Movie Details Page Start */
.search-and-results { margin-top: 75px; }
.search-and-results form { display: flex; }

.search-and-results form input[type="search"] {
  width: 700px;
  padding: 10px 15px;
  border: unset;
  border: 2px solid #76766f;
  display: block;
  background: rgba(14,35,49,1);
  color: #76766f;
  font-size: 16px;
}

.search-and-results form input[type="search"]:focus {
  border: 2px solid #fff;
  background: rgba(14,35,49,1);
  color: #fff;
  box-shadow: none;
  outline-style: none;
}

.search-and-results .error-message {
  margin-top: 5px;
  display: block;
  color: rgba(255, 0, 0, 1);
  font-size: 16px;
}

.search-and-results .error-message.display-none { display: none; }

.search-button-div {
  margin-left: 10px;
  text-align: center; 
}

.search-button-div > button[title="Search"] {
  padding: 10px 15px;
  border: unset;
  border-radius: 5px;
  display: inline-block;
  background: #76766f;
  color: rgba(14,35,49,1);
  font-size: 16px;
  font-weight: bold;
  transition: background 1s ease-in-out;
}

.search-button-div > button[title="Search"]:hover { background: #fff; }
.search-results-div { margin-top: 15px; }
.search-results-div.display-none { display: none; }

.search-results-div > h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.search-results span {
  margin-bottom: 10px;
  display: inline-block;
  color: #76766f;
  font-size: 14px;
  text-decoration: underline;
  transition: color 1s ease-in-out;
}

.search-results span:hover {
  color: #fff;
  cursor: pointer;
}

.movie-details {
  max-width: 970px;
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
}

.movie-details.display-none { display: none; }

.movie-details > h3 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.movie-details > span {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.movie-details > span:last-child { margin-bottom: 0; }

.movie-details > span > small {
  color: #76766f;
  font-size: 14px;
}

.movie-details > figure { margin: 25px 0; }

.movie-details img {
  max-width: 250px;
  margin: 0 auto;
}

.movie-details > h4 {
  margin: 25px 0 10px 0;
  color: #76766f;
  font-size: 14px;
  font-weight: bold;
}

.actors { margin-bottom: 25px; }
.actors li { margin-bottom: 10px; }

.actors p {
  color: #76766f;
  font-size: 16px;
}

.actors p > span { color: #fff; }
/* Movie Details Page End */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  padding: 25px 1.5%;
  background: rgb(10, 21, 32); 
}

.social-media-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.social-media-links > li { margin-right: 20px; }
.social-media-links > li:last-child { margin-right: 0; }

.social-media-links > li > a {
  display: inline-block;
  font-size: 0;
}

.social-media-links > li > a::before {
  color: #76766f;
  font-family: "Font Awesome 5 Brands";
  font-size: 24px;
  font-weight: 900;
  transition: color 1s ease-in-out;
}

.social-media-links > li > a:hover::before { color: #fff; }
.social-media-links > li > a[title="Twitter"]::before { content: "\f099"; }
.social-media-links > li > a[title="Facebook"]::before { content: "\f39e"; }
.social-media-links > li > a[title="Instagram"]::before { content: "\f16d"; }
.social-media-links > li > a[title="Snapchat"]::before { content: "\f2ab"; }

footer > p {
  color: #76766f;
  font-size: 14px;
  text-align: center;
}

footer > p > a { transition: color 1s ease-in-out; }
footer > p > a:hover { color: #fff; }
 /*=================================
  footer styling ends here
=================================*/